In [108]:
# Import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [109]:
def initialize_parms(dim):
    w=np.zeros(shape=(dim,1))
    b=0
    return w,b

In [110]:
def propagate(x,y,w,b,alpha):
    
    """ 
    Shape of x is (no of Features, no of examples)
    Shape of y is (1, no if examples)
    Shape of w is (no of features,1)
    Shape of b is (1)
    """
    # Number of examples
    m=x.shape[1]  
    
    ## forward propagate
    
    z=np.dot(w.T,x)+b
    
    ## compute cost function
    cost=(1/2*m)*np.sum((z-y)**2)
    
    ## Backward propagation
    dw=(1/m)*np.sum(np.dot(x,(z-y).T))
    db=(1/m)*np.sum(z-y)
    
    w=w-alpha*dw
    b=b-alpha*db
    
    cost=np.squeeze(cost)
    #return Gradients
    grad={'dw':dw,'db':db,'w':w,'b':b,'cost':cost}
    return grad

In [122]:
def optimize(x,y,w,b,iterations,alpha,display_cost=True):
    
    """
    Optimize parameters
    """
    cost=[]
    for i in range(1,iterations+1):
        grad=propagate(x,y,w,b,alpha)
        w=grad['w']
        b=grad['b']
        if i%200==0:
            cost.append(grad['cost'])
            if display_cost==True:
                print('cost after ',i,' iteration: ',grad['cost'])
    
    parms={'w':w,'b':b}
    return parms,cost

In [112]:
def model(x,y,iterations,alpha,display_cost=True):
    
    """
    Shape of x is (no of examples,no of features)
    Shape of y is (no of examples, 1)
    
    """
    # Change shape of features and target 
    x=x.T
    y=y.T
    
    #initialize parameters
    w,b=initialize_parms(x.shape[0])
    
    parms,cost=optimize(x,y,w,b,iterations,alpha,display_cost=True)
    
    return parms,cost

In [113]:
def predict(x,parms):
    
    """
    Shape of x is (no of examples, no of features)
    
    """
    x=x.T
    w=parms['w']
    b=parms['b']
    pred=np.dot(w.T,x)+b
    
    return pred.T

In [114]:
## Read Data
df=pd.read_csv('Advertising.csv',index_col=0)
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
TV           200 non-null float64
Radio        200 non-null float64
Newspaper    200 non-null float64
Sales        200 non-null float64
dtypes: float64(4)
memory usage: 7.8 KB
None

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [115]:
df.describe().T

           count      mean        std  min     25%     50%      75%    max
TV         200.0  147.0425  85.854236  0.7  74.375  149.75  218.825  296.4
Radio      200.0   23.2640  14.846809  0.0   9.975   22.90   36.525   49.6
Newspaper  200.0   30.5540  21.778621  0.3  12.750   25.75   45.100  114.0
Sales      200.0   14.0225   5.217457  1.6  10.375   12.90   17.400   27.0

In [116]:
y=df.Sales
x=df.drop('Sales',axis=1)

In [117]:
## Normalize Features
mean=x.mean(axis=0)
std=x.std(axis=0)
x=(x-mean)/std

In [118]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [126]:
# Create model
parms,cost=model(x_train.values,y_train.values,2000,0.05,True)

cost after  200  iteration:  110939.78167569393
cost after  400  iteration:  110939.77817303024
cost after  600  iteration:  110939.77817303027
cost after  800  iteration:  110939.77817303024
cost after  1000  iteration:  110939.77817303024
cost after  1200  iteration:  110939.77817303024
cost after  1400  iteration:  110939.77817303024
cost after  1600  iteration:  110939.77817303024
cost after  1800  iteration:  110939.77817303024
cost after  2000  iteration:  110939.77817303024

In [127]:
pred=predict(x_test.values,parms)

In [129]:
pred.shape

(40, 1)

In [131]:
## Predict Accuracy of Test Model
from sklearn.metrics import mean_squared_error
print(np.sqrt(mean_squared_error(y_test,pred)))

3.7642132689447445

In [132]:
print(np.sqrt(mean_squared_error(y_train,predict(x_train,parms))))

2.9440058032836807